.outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:3.3rem;
    width:78vw;
    // border:1px solid red;
    margin-left: 160px;
    // margin-right: 70px;
}
.booksCard{
    border: 1px solid #E2E2E2;
    width: 17vw;
    height: 38vh;
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin-top: 20px;
    // border: 1px solid red;
}

.booksImg{
    /* border: 1px solid yellow; */
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.bookImage{
    height: 80%;
}

.booksDetails{
    //  border: 1px solid green; 
    width: 80%;
    height: 30%;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    gap:0.3rem;
    margin-top:15px;
    
}

*{
    margin: 0;
}

.bookName{
    // font-size: 14px;
    // font-weight: 700;
    // font-family: Roboto;
    font: normal normal bold 17px Roboto;
    // border:1px solid green;
    width:280px;
   
}
.priceTag{
    // font-size: 14px;
    // font-weight: 700;
    // font-family: Roboto;
    font: normal normal normal 19px Roboto;
    // border:1px solid green;
   
}
.Author{
    font: normal normal normal 13px Roboto;
}

.priceDiv{
    display: flex;
}

// .priceTag{
//     font-size: 14px;
//     font-weight: 700;
// }

.OriginalPrice{
    font-size: 12px;
    font-weight: 500;
    color: gray; 
    text-decoration: line-through; 
    margin-left:10px;  
    margin-top: 5px;
}

.ratingBtn{
    border: none;
    background-color: #388E3C;
    color: white;
}
.pages{
    height: 10%;
    width: auto;
    display: flex;
   margin-left: 600px;
   font-size: 20px;
    // border: 1px solid red;
  }

  .content {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .top {
    height: auto;
    width: auto;
  }
  .bookname {
    width: 100%;
    display: flex;
    // margin-right: 150px;
    // margin-left: 10px;
    align-items: center;
    flex-direction: row;
    // border: 1px solid red;
    // margin-left: 10px;
    justify-content: space-between;
    // gap:15rem;
  }
  .sort {
    font-size: 22px;
    font-weight: 400;
    // margin-left:-80px;
  }
  .field {
    font-size: 9px;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    margin-right: 17px;
    // border: 1px solid red;
  
  }
  
  .matselect {
    height: 6px;
    
  //   border: 1px solid red;
  }
  // .footer{
  //     margin-top:587px;
  // }