
  <div class="headerDiv">
    <div class="headerMainDiv">
      <div class="logoDiv">
        <div id="bookstoreText">
          <img
            src="../../../assets/education.png"
            alt=""
            className="bookLogo"
          />
          <span>BOOKSTORE</span>
        </div>
        <div class="searchDiv">
            <!-- <img src="../../../assets/Searchimg.svg"> -->
          <input type="text" class="textbox-search" placeholder="Search..." />
        </div>
      </div>
     <div class="right-icons">
      <div class="person">
        <img  class="person-img"src="../../../assets/Person.svg"/>
        <p>Profile</p>
      </div>
      <div class="cart">
        <img src="../../../assets/supermarket.svg"/>
        <p>Cart</p>
      </div>
     </div>
      </div>
    </div>
  

