<div class="header">
    <app-header ></app-header>
</div>
<div class="Container">
    <div class="main">
        <div class="header">
            <p type="button"  style="color: #9D9D9D" >Home / </p>
            <p>My Wishlist</p>
        </div>
    </div>
    <div class="cart_container">
        <div>
        <h3 class="j1">My Wishlist(number)</h3>
    </div>
        <div class="crt" >
            <div class="image">
                <img src="../../../assets/name.png" alt="">
            </div>
            <div class="book-description">
                <h2>bookname</h2>
                <p>by author </p>
                <div class="price-container" fxLayout="row">
                    <div class="dicounted-price">
                        <b>Rs. price disc </b>
                    </div>
                    <div class="actual-price">
                        Rs.  price
                    </div>
                </div>
            </div>
            <div class="delete" >
                <img class="deletebutton" src="../../../assets/DeleteForever.svg" alt="">
              
            </div>
        </div>
    </div>
</div>
