<div class="outer-main">
    <div class="divbar">
    <div class="inner-one">
        <img  class="shopimage" src="../../../assets/storeimage.png"/>
        <h3>ONLINE BOOK SHOPPING</h3>
    </div>
    <div class="inner-two">
        <div class="inner-part">
            <div class="top">
                <button class="login">LOGIN</button>
                <button class="signup" routerLink="/signup">SIGNUP</button>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-fileds">
                <label>Email id</label>
                <!-- <mat-form-field class="mail" >
                    <input  type="text" placeholder="Email or UserName " formControlName="email">
                </mat-form-field> -->
                <input class="mail" type="text" placeholder="email" formControlName="email" />
                <label>Password</label>
                <!-- <mat-form-field class="pswd" >
                    <input type="password" placeholder="Password" formControlName="password">
                </mat-form-field> -->
                <input class="pswd" type="password" placeholder="password" formControlName="password"/>
                <label id="fpwd">Forgot Password?</label>
                <button class="btnlogin" routerLink="/Dashboard">
                    Login
                </button>
                <span class="or">----------------- OR -----------------</span>
                <div class="bottom">
                <button class="FB">Facebook</button>
                <button class="google">Google</button>
            </div>
            </div>
            </form>
    </div>
</div>
</div>
</div>
