<div class="outer-main">
    <div class="divbar">
    <div class="inner-one">
        <img  class="shopimage" src="../../../assets/storeimage.png"/>
        <h3>ONLINE BOOK SHOPPING</h3>
    </div>
    <div class="inner-two">
        <div class="inner-part">
            <div class="top">
                <button class="login">LOGIN</button>
                <button class="signup">SIGNUP</button>
            </div>
            <div class="text-fileds">
                <label>Email id</label>
                <!-- <mat-form-field class="form1" >
                    <input matInput class="field1" type="text" placeholder="Email or UserName">
                </mat-form-field> -->
                <input class="mail" type="text" placeholder="email"/>
                <label>Password</label>
                <!-- <mat-form-field class="form1" >
                    <input matInput class="field1" type="password" placeholder="Password">
                </mat-form-field> -->
                <input class="pswd" type="password" placeholder="password"/>
                <label id="fpwd">Forgot Password?</label>
                <button class="btnlogin">
                    Login
                </button>
                <span class="or">----------------- OR -----------------</span>
                <div class="bottom">
                <button class="FB">Facebook</button>
                <button class="google">Google</button>
            </div>
            </div>
    </div>
</div>
</div>
</div>
